*.py[co]
\.DS_Store
.#*
*.pyc
fabfile.py
fabfile.pyc
fabfile-old.py
fabfile-old.pyc
fabfile2.py
fabfile2.pyc
env
datea_api/local_settings.py
.git
.gitignore
env
datea_api/media/
datea_api/static/
static/
media/
!datea_api/apps/media
impdata
sync_newsletter.py
