Django
psycopg2
django-tastypie

python-mimeparse # Until https://github.com/toastdriven/django-tastypie/pull/1029 is merged

python-social-auth
geopy

# For Production/Heroku
gunicorn
dj-database-url
dj-static
