Django
psycopg2
django-tastypie

python-mimeparse # Until https://github.com/toastdriven/django-tastypie/pull/1029 is merged
django_extensions


python-social-auth
geopy

django-rq
rq-scheduler

# For Production/Heroku
gunicorn
dj-database-url
dj-static
