{% load i18n %}{% blocktrans with user=user.username %}Hey {{user}}{% endblocktrans %},

{% blocktrans %}You just requested a new passford for {{sitename}}.{% endblocktrans %}
{% blocktrans %}If you don't wish to change your password, just ignore this message.{% endblocktrans %}

{% blocktrans %}To recover your password, just click on the following link or copy and paste it into your browser{% endblocktrans %}:

{{ base_url }}/{{ uid }}/{{ token }}

{% blocktrans with user=user.username %}Your username, in case you forgot, is: {{ user }}{% endblocktrans %}

{% include "registration/email_footer.txt" %}
