{% extends "site-base.html" %}
{% load i18n bootstrap3 %}

{% block "page_title" %}{% trans 'Reset your password' %}{% endblock %}
{% block "title" %}{% trans 'Reset your password' %}{% endblock %}

{% block "main_content" %}
	<h2>{% trans "Password reset" %}</h2>

	<p class="desc">{% trans "Enter your new password below to reset your password" %}:
	<form class="form" method="post" action="">
		{% csrf_token %}
	    {% bootstrap_form form %}
	    <button class="btn btn-primary btn-lg" type="submit">{% trans 'Set password' %}</button>
	</form>
{% endblock %}
