Django==1.6.5
Pillow==2.2.2
PyPDF2==1.19
South==0.8.4
amqp==1.4.4
anyjson==0.3.3
billiard==3.3.0.16
bleach==1.4
celery==3.1.9
django-bootstrap3==2.5.1
django-cors-headers==0.12
django-extensions==1.2.5
django-grappelli==2.5.2
django-haystack==2.1.0
django-ipware==0.0.6
django-jsonfield==0.9.12
django-registration==1.0
django-solo==1.0.5
django-tastypie==0.11.0
elasticsearch==1.0.0
geopy==0.97
gunicorn==18.0
html5lib==1.0b3
jsonfield==0.9.20
kombu==3.0.13
lxml==3.3.3
oauthlib==0.6.1
psycopg2==2.5.1
pyelasticsearch==0.6.1
pykml==0.1.0
pysolr==3.2.0
python-dateutil==2.2
python-geoip==1.2
python-geoip-geolite2==2014.0207
python-memcached==1.53
python-mimeparse==0.1.4
python-openid==2.2.5
python-ptrace==0.7
python-social-auth==0.1.22
pytz==2014.1
requests==2.2.1
requests-oauthlib==0.4.0
simplejson==3.3.3
six==1.6.1
sorl-thumbnail==11.12
urllib3==1.8
wsgiref==0.1.2
