Django==1.6.1
Pillow==2.2.2
South==0.8.4
argparse==1.2.1
django-cors-headers==0.12
django-extensions==1.2.5
django-haystack==2.1.0
django-registration==1.0
django-tastypie==0.11.0
elasticsearch==0.4.4
geopy==0.97
gunicorn==18.0
haystack==0.15
oauthlib==0.6.0
psycopg2==2.5.1
pyelasticsearch==0.6.1
pysolr==3.1.0
python-dateutil==2.2
python-memcached==1.53
python-mimeparse==0.1.4
python-openid==2.2.5
python-ptrace==0.6.6
python-social-auth==0.1.17
requests==2.1.0
requests-oauthlib==0.4.0
simplejson==3.3.1
six==1.4.1
sorl-thumbnail==11.12
urllib3==1.7.1
wsgiref==0.1.2
